body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

@font-face {
  font-family: 'Ridley Grotesk';
  src: url("fonts/Ridley_Grotesk_Bold.woff") format("truetype");
    font-weight: Bold;
  font-style: normal;
}


@font-face {
  font-family: 'Ridley Grotesk';
  src: url("fonts/Ridley_Grotesk_Medium.woff") format("truetype");
    font-weight: Medium;
  font-style: normal;
}


@font-face {
  font-family: 'Ridley Grotesk';
  src: url("fonts/Ridley_Grotesk_Regular.woff") format("truetype");
    font-weight: normal;
  font-style: normal;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Ridley Grotesk";
    font-weight: bold;
}

input[type="text"] {
    width: calc(100% - 80px);
    padding: 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-family: "Ridley Grotesk";
    font-weight: medium;
}

button {
    padding: 16px 80px;
    font-size: 16px;
    margin-top: 16px;
    margin: 16px auto; /* Centering */
    display: block; /* Ensure block display for margin auto to work */
    background-color: #2667ff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Ridley Grotesk";
    font-weight: medium;
}

button:hover {
    background-color: #0056b3;
}

p#shortenedUrl {
    margin-top: 20px;
    font-size: 18px;
}
