@media (min-width: 1520px) {
	.mediaViewInfo {
		--web-view-name: Dashboard – 1;
		--web-view-id: Dashboard__1;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Dashboard__1 {
		position: absolute;
		display: block;
		width: 1520px;
		height: 1616px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: Dashboard – 1;
		--web-view-id: Dashboard__1;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-show-by-media-query: true;
		--web-enable-deep-linking: true;
	}
	#Rectangle_2943_h {
		position: absolute;
		width: 1479px;
		height: 269px;
		left: 22px;
		top: 227px;
		overflow: visible;
	}
	#Rectangle_2941 {
		position: absolute;
		width: 1479px;
		height: 1004px;
		left: 21px;
		top: 493px;
		overflow: visible;
	}
	#Drop_Logo_White_vectorized_h {
		position: absolute;
		width: 151.766px;
		height: 47.943px;
		left: 51px;
		top: 69.027px;
		overflow: visible;
	}
	#WASHDROP_h {
		left: 140.5px;
		top: 583.5px;
		position: absolute;
		overflow: visible;
		width: 199px;
		white-space: nowrap;
		text-align: center;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.15px;
	}
	#Workshops_h {
		left: 576.5px;
		top: 583.5px;
		position: absolute;
		overflow: visible;
		width: 173px;
		white-space: nowrap;
		text-align: center;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.15px;
	}
	#Events_h {
		left: 1021.5px;
		top: 583.5px;
		position: absolute;
		overflow: visible;
		width: 106px;
		white-space: nowrap;
		text-align: center;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.15px;
	}
	#Management_Panel {
		left: 140.5px;
		top: 1089.545px;
		position: absolute;
		overflow: visible;
		width: 299px;
		white-space: nowrap;
		text-align: center;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.15px;
	}
	#Line_10 {
		fill: transparent;
		stroke: rgba(198,198,198,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: round;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_10 {
		overflow: visible;
		position: absolute;
		width: 1292px;
		height: 3px;
		left: 112px;
		top: 1040.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#All_Copyrights_Reserved__Drop__ic {
		left: 574px;
		top: 1533px;
		position: absolute;
		overflow: visible;
		width: 373px;
		white-space: nowrap;
		text-align: center;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: rgba(0,0,0,1);
	}
	#Group_4291 {
		position: absolute;
		width: 637px;
		left: 109px;
		top: 305px;
		overflow: visible;
	}
	#Group_3839_ie {
		position: absolute;
		width: 637px;
		height: 100px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Drops_Management_System_if {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 638px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 44px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.15px;
	}
	#Hi_where_can_I_take_you {
		left: 0px;
		top: 64px;
		position: absolute;
		overflow: visible;
		width: 375px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: normal;
		font-size: 29px;
		color: rgba(147,147,147,1);
		letter-spacing: 0.15px;
	}
	#Group_4290 {
		position: absolute;
		width: 341px;
		height: 129px;
		left: 788px;
		top: 35px;
		overflow: visible;
	}
	#Rectangle_2995_ii {
		position: absolute;
		width: 341px;
		height: 129px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Report_issue {
		left: 55px;
		top: 48px;
		position: absolute;
		overflow: visible;
		width: 137px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(50,59,242,1);
		letter-spacing: 0.15px;
	}
	#Image_419 {
		position: absolute;
		width: 64px;
		height: 77px;
		left: 217px;
		top: 19px;
		overflow: visible;
	}
	#Group_4289_il {
		position: absolute;
		width: 393px;
		height: 129px;
		left: 1093px;
		top: 35px;
		overflow: visible;
	}
	#Rectangle_2995_im {
		position: absolute;
		width: 393px;
		height: 129px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Feedback__Ideas_in {
		left: 54px;
		top: 48px;
		position: absolute;
		overflow: visible;
		width: 195px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(237,190,11,1);
		letter-spacing: 0.15px;
	}
	#Image_421_io {
		position: absolute;
		width: 84px;
		height: 84px;
		left: 272px;
		top: 12px;
		overflow: visible;
	}
	#Dashboard_ip {
		position: absolute;
		width: 521px;
		height: 295.333px;
		left: 949px;
		top: 163.667px;
		overflow: visible;
	}
	#Group_4292 {
		position: absolute;
		width: 388.5px;
		height: 139px;
		left: 111px;
		top: 643px;
		overflow: visible;
	}
	#WashDrop_Orders {
		left: 129.5px;
		top: 45.545px;
		position: absolute;
		overflow: visible;
		width: 194px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 21px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.15px;
	}
	#Track_and_distribute_WashDrop__is {
		left: 129.5px;
		top: 74.545px;
		position: absolute;
		overflow: visible;
		width: 260px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(149,149,149,1);
		letter-spacing: 0.15px;
	}
	#Rectangle_2942_it {
		position: absolute;
		width: 140px;
		height: 139px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#order-tracking_iu {
		position: absolute;
		width: 75.052px;
		height: 75.052px;
		left: 36.448px;
		top: 30.404px;
		overflow: visible;
	}
	#Group_4296 {
		position: absolute;
		width: 399.5px;
		height: 139px;
		left: 545px;
		top: 643px;
		overflow: visible;
	}
	#Workshop_Appointments_iw {
		left: 131.5px;
		top: 45.545px;
		position: absolute;
		overflow: visible;
		width: 269px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 21px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.15px;
	}
	#Track_reserved_appointments {
		left: 131.5px;
		top: 74.545px;
		position: absolute;
		overflow: visible;
		width: 196px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(149,149,149,1);
		letter-spacing: 0.15px;
	}
	#Rectangle_2942_iy {
		position: absolute;
		width: 140px;
		height: 139px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Image_267 {
		position: absolute;
		width: 50.298px;
		height: 50.298px;
		left: 46.851px;
		top: 42.852px;
		overflow: visible;
	}
	#Group_4295 {
		position: absolute;
		width: 358.5px;
		height: 139px;
		left: 545px;
		top: 774px;
		overflow: visible;
	}
	#Available_Workshops_i {
		left: 131.5px;
		top: 44.089px;
		position: absolute;
		overflow: visible;
		width: 228px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 21px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.15px;
	}
	#Manage_workshops_listings {
		left: 131.5px;
		top: 73.089px;
		position: absolute;
		overflow: visible;
		width: 182px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(149,149,149,1);
		letter-spacing: 0.15px;
	}
	#Rectangle_2942_i {
		position: absolute;
		width: 140px;
		height: 139px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Image_226 {
		position: absolute;
		width: 66px;
		height: 70.478px;
		left: 43.188px;
		top: 31.307px;
		overflow: visible;
	}
	#Group_4293 {
		position: absolute;
		width: 380.5px;
		height: 139px;
		left: 111px;
		top: 774px;
		overflow: visible;
	}
	#Registered_Compounds_i {
		left: 129.5px;
		top: 40.545px;
		position: absolute;
		overflow: visible;
		width: 252px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 21px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.15px;
	}
	#Manage_compounds_listings_i {
		left: 129.5px;
		top: 69.545px;
		position: absolute;
		overflow: visible;
		width: 188px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(149,149,149,1);
		letter-spacing: 0.15px;
	}
	#Rectangle_2942_ja {
		position: absolute;
		width: 140px;
		height: 139px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Image_420_i {
		position: absolute;
		width: 60px;
		height: 60.832px;
		left: 43.5px;
		top: 33.584px;
		overflow: visible;
	}
	#Group_4294 {
		position: absolute;
		width: 332.5px;
		height: 139px;
		left: 111px;
		top: 894px;
		overflow: visible;
	}
	#Fleet_Management {
		left: 129.5px;
		top: 46.543px;
		position: absolute;
		overflow: visible;
		width: 204px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 21px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.15px;
	}
	#Manage__discipline_fleets {
		left: 129.5px;
		top: 75.543px;
		position: absolute;
		overflow: visible;
		width: 178px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(149,149,149,1);
		letter-spacing: 0.15px;
	}
	#Rectangle_2942_jd {
		position: absolute;
		width: 140px;
		height: 139px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Image_417 {
		position: absolute;
		width: 58px;
		height: 54.828px;
		left: 43.5px;
		top: 39.584px;
		overflow: visible;
	}
	#Group_4297 {
		position: absolute;
		width: 336.5px;
		height: 139px;
		left: 992px;
		top: 643px;
		overflow: visible;
	}
	#Registered_Visitors_jg {
		left: 129.5px;
		top: 45.545px;
		position: absolute;
		overflow: visible;
		width: 208px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 21px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.15px;
	}
	#Manage_event_visitors_jh {
		left: 129.5px;
		top: 74.545px;
		position: absolute;
		overflow: visible;
		width: 149px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(149,149,149,1);
		letter-spacing: 0.15px;
	}
	#Rectangle_2942_ji {
		position: absolute;
		width: 140px;
		height: 139px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Image_416 {
		position: absolute;
		width: 58px;
		height: 51px;
		left: 44px;
		top: 40px;
		overflow: visible;
	}
	#Group_4298 {
		position: absolute;
		width: 374.5px;
		height: 139px;
		left: 111px;
		top: 1151px;
		overflow: visible;
	}
	#WashDrop_Services {
		left: 136.5px;
		top: 40.633px;
		position: absolute;
		overflow: visible;
		width: 212px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 21px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.15px;
	}
	#Manage_WashDrop_services_listi_jm {
		left: 136.5px;
		top: 69.633px;
		position: absolute;
		overflow: visible;
		width: 239px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(149,149,149,1);
		letter-spacing: 0.15px;
	}
	#Rectangle_2942_jn {
		position: absolute;
		width: 140px;
		height: 139px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_2892_jo {
		position: absolute;
		width: 76px;
		height: 76px;
		left: 34.5px;
		top: 29px;
		overflow: visible;
	}
	#Group_4299 {
		position: absolute;
		width: 296.5px;
		height: 139px;
		left: 111px;
		top: 1275px;
		overflow: visible;
	}
	#Manage_Events_jq {
		left: 129.5px;
		top: 43.088px;
		position: absolute;
		overflow: visible;
		width: 168px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 21px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.15px;
	}
	#Manage_events_listings_jr {
		left: 129.5px;
		top: 72.088px;
		position: absolute;
		overflow: visible;
		width: 155px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(149,149,149,1);
		letter-spacing: 0.15px;
	}
	#Rectangle_2942_js {
		position: absolute;
		width: 140px;
		height: 139px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#placard {
		position: absolute;
		width: 60px;
		height: 60px;
		left: 42.5px;
		top: 39.543px;
		overflow: visible;
	}
	#Group_4300 {
		position: absolute;
		width: 248px;
		height: 139px;
		left: 551px;
		top: 1275px;
		overflow: visible;
	}
	#User_Data_jv {
		left: 126px;
		top: 43.088px;
		position: absolute;
		overflow: visible;
		width: 111px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 21px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.15px;
	}
	#Manage_user_data {
		left: 126px;
		top: 72.088px;
		position: absolute;
		overflow: visible;
		width: 123px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(149,149,149,1);
		letter-spacing: 0.15px;
	}
	#Rectangle_2942_jx {
		position: absolute;
		width: 140px;
		height: 139px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Image_413 {
		position: absolute;
		width: 58px;
		height: 62px;
		left: 41px;
		top: 35px;
		overflow: visible;
	}
	#Group_4301 {
		position: absolute;
		width: 368px;
		height: 139px;
		left: 551px;
		top: 1151px;
		overflow: visible;
	}
	#Workshop_Services_j {
		left: 129px;
		top: 40.633px;
		position: absolute;
		overflow: visible;
		width: 208px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 21px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.15px;
	}
	#Manage_workshops_services_list {
		left: 129px;
		top: 69.633px;
		position: absolute;
		overflow: visible;
		width: 240px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(149,149,149,1);
		letter-spacing: 0.15px;
	}
	#Rectangle_2942_j {
		position: absolute;
		width: 140px;
		height: 139px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Image_273 {
		position: absolute;
		width: 45px;
		height: 55.385px;
		left: 50.5px;
		top: 35px;
		overflow: visible;
	}
	#Group_4302 {
		position: absolute;
		width: 326px;
		height: 139px;
		left: 992px;
		top: 1151px;
		overflow: visible;
	}
	#Manage_Vouchers_j {
		left: 133px;
		top: 40.633px;
		position: absolute;
		overflow: visible;
		width: 194px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 21px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.15px;
	}
	#Manage_vouchers_j {
		left: 133px;
		top: 69.633px;
		position: absolute;
		overflow: visible;
		width: 119px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(149,149,149,1);
		letter-spacing: 0.15px;
	}
	#Rectangle_2942_ka {
		position: absolute;
		width: 140px;
		height: 139px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Image_310 {
		position: absolute;
		width: 56px;
		height: 57px;
		left: 44.5px;
		top: 38px;
		overflow: visible;
	}
	#Group_4303 {
		position: absolute;
		width: 335.5px;
		height: 139px;
		left: 992px;
		top: 1275px;
		overflow: visible;
	}
	#Early_Access_Users {
		left: 129.5px;
		top: 43.088px;
		position: absolute;
		overflow: visible;
		width: 207px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: bold;
		font-size: 21px;
		color: rgba(0,0,0,1);
		letter-spacing: 0.15px;
	}
	#Manage_user_data_kb {
		left: 129.5px;
		top: 72.088px;
		position: absolute;
		overflow: visible;
		width: 123px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		color: rgba(149,149,149,1);
		letter-spacing: 0.15px;
	}
	#Rectangle_2942_kc {
		position: absolute;
		width: 140px;
		height: 139px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Image_412 {
		position: absolute;
		width: 52px;
		height: 67.186px;
		left: 46.5px;
		top: 31.951px;
		overflow: visible;
	}
	#Group_4305 {
		position: absolute;
		width: 466px;
		height: 129px;
		left: 366px;
		top: 35px;
		overflow: visible;
	}
	#Group_4304 {
		position: absolute;
		width: 466px;
		height: 129px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_2995_kg {
		position: absolute;
		width: 466px;
		height: 129px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Create_a_Meeting_Room {
		left: 74px;
		top: 49px;
		position: absolute;
		overflow: visible;
		width: 258px;
		white-space: nowrap;
		text-align: left;
		font-family: Ridley Grotesk;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(38,103,255,1);
		letter-spacing: 0.15px;
	}
	#zoom {
		position: absolute;
		width: 42px;
		height: 42px;
		left: 354px;
		top: 41px;
		overflow: visible;
	}
}